<div class="dialog-box">
	<div class="dialog-box__content">
		<div class="dialog-box__content-close">
		</div>
		<div class="dialog-box__content-text">
			<h1 class="dialog-box__content-text-message">Let's Close This.</h1>
			<p class="dialog-box__content-text-aside">(using the x in the corner)</p>
		</div>
	</div>
</div>