<form id="itinerary-form__form">
			<div class="form-row">
				<div class="form-item form-item-width-50">
					<label for="itinerary-first-name" >First Name</label></br>
					<input class="" type="text" name="first-name" id="itinerary-first-name" placeholder="Leap">
				</div>
				<div class="form-item form-item-width-50">	
					<label for="itinerary-last-name">Last Name</label></br>
					<input class="" type="text" name="first-name" id="itinerary-last-name" placeholder="Frog">
				</div>
			</div>
			<div class="form-row">
				<div class="form-item form-item-width-100">	
					<label for="itinerary-address">Address</label></br>
					<input type="text" name="first-name" id="itinerary-address" placeholder="310 Frog Pond Road">
				</div>
			</div>
			<div class="form-row itinerary-form__form-row-last">
				<div class="form-item form-item-width-33 form-item-width-33-small-100 itinerary-city">
					<label for="itinerary-city">City</label></br>
					<input type="text" name="first-name" id="itinerary-city" placeholder="Austin">
				</div>
				<div class="form-item form-item-width-33 form-item-width-33-small-100 itinerary-state">
					<label for="itinerary-state">State</label></br>
					<select id="itinerary-state">
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AR">AR</option>	
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DC">DC</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="IA">IA</option>	
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="MA">MA</option>
						<option value="MD">MD</option>
						<option value="ME">ME</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MO">MO</option>	
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="NC">NC</option>	
						<option value="NE">NE</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>			
						<option value="NV">NV</option>
						<option value="NY">NY</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX" selected="selected">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WI">WI</option>	
						<option value="WV">WV</option>
						<option value="WY">WY</option>
					</select>
				</div>
				<div class="form-item form-item-width-33 form-item-width-33-small-100 itinerary-zip">
					<label for="itinerary-zip">Zip</label></br>
					<input type="text" name="first-name" id="itinerary-zip" placeholder="34210">
				</div>
			</div>
			<div class="form-row">
				<div class="form-item form-item-width-100">
					<input type="submit" value="SIGN ME UP">
				</div>
			</div>
		</form>