<div id="itinerary-form">
	<div class="itinerary-form__avatar" style="background-image: url('/static/assets/images/avatar.jpg');">
	</div>
	<div class="itinerary-form__title">
		<h1>Make Me An Itinerary</h1>
	</div>
	<div id="itinerary-form__container">
		{{> blocks/itinerary-form/partials/form }}
	</div>
</div>