<div class="dont-forget">
	<div class="dont-forget__section">
		<ul class="dont-forget__list">
			<li class="dont-forget__list-item">Integer ex augue</li>
			<li class="dont-forget__list-item">Volutpat ornare tellus nec</li>
			<li class="dont-forget__list-item">Tempus vestibulum tellus</li>
			<li class="dont-forget__list-item">Sed dapibus porttitor velit</li>
			<li class="dont-forget__list-item">Quis pharetra augue</li>
		</ul>
	</div>
	<div class="dont-forget__section">
		<ul class="dont-forget__list">
			<li class="dont-forget__list-item">Integer ex augue</li>
			<li class="dont-forget__list-item">Volutpat ornare tellus nec</li>
			<li class="dont-forget__list-item">Tempus vestibulum tellus</li>
			<li class="dont-forget__list-item">Sed dapibus porttitor velit</li>
			<li class="dont-forget__list-item">Quis pharetra augue</li>
		</ul>
	</div>
</div>