<h1>h1</h1>
<h1 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h1>
<h1 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h1>
<h1 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h1>
<h1 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h1>

<h2>h2</h2>
<h2 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h2>
<h2 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h2>
<h2 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h2>
<h2 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h2>

<h3>h3</h3>
<h3 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h3>
<h3 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h3>
<h3 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h3>
<h3 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h3>

<h4>h4</h4>
<h4 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h4>
<h4 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h4>
<h4 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h4>
<h4 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h4>

<h5>h5</h5>
<h5 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h5>
<h5 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h5>
<h5 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h5>
<h5 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h5>

<h6>h6</h6>
<h6 style="font-family: Oswald; font-weight: 400;">Oswald Regular</h6>
<h6 style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</h6>
<h6 style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</h6>
<h6 style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</h6>

<p>p</p>
<p style="font-family: Oswald; font-weight: 400;">Oswald Regular</p>
<p style="font-family: ProximaNova; font-weight: 400;">ProximaNova Regular</p>
<p style="font-family: ProximaNova; font-weight: 400; font-style: italic;">ProximaNova Regular Italic</p>
<p style="font-family: ProximaNova; font-weight: 700;">ProximaNova Bold</p>