{{> blocks/banner/banner }}

<div id="page-wrapper">
	<div id="page-body">
		{{> blocks/trip-info/trip-info }}
		{{> blocks/accordion/accordion }}
	</div>
	<div id="page-sidebar">
		{{> blocks/itinerary-form/itinerary-form }}
		{{> blocks/dialog-box/dialog-box }}
	</div>
</div>