<div class="trip-info">
	<div class="trip-info__heading">
		<h1>Packing for your Orlando trip?</h1>
		<h2>We can help get you ready.</h2>
	</div>
	<div class="trip-info__description">
		<div class="trip-info__description-section">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed ex congue, fringilla quam non, dictum quam. Pellentesque non massa faucibus orci bibendum efficitur. Proin non justo non sem auctor imperdiet vitae pellentesque massa. Praesent non est in turpis suscipit dignis</p>
		</div>
		<div class="trip-info__description-section">
			<p>sim in quis risus. Integer eget mattis ex, ac laoreet mi. Maecenas non interdum elit. Phasellus nec elit augue. In sollicitudin diam nisl, eget tempus leo commodo at. Proin eget sem lobortis, maximus diam quis, sodales quam. Aliquam in dignissim felis, in viverra arcu. Fue convallis pretium lacinia.</p>
		</div>
	</div>
	<div class="trip-info__continue-reading">
		<a href='#'>Continue Reading</a>
	</div>
</div>