<div class="banner" style="background-image: url('/static/assets/images/0428AR_2356GV_1.jpg')">
	<div class="banner__overlay"></div>
	<div class="banner__cta">
		<div class="banner__cta-inner">
			<h1 class="banner__cta-text">Plan Your Disney</br>Vacation With Us!</h1>
		</div>
	</div>
</div>