@font-face {
    font-family: Oswald;
    src: url('/static/assets/fonts/Oswald-Regular.ttf');
    font-weight: 400;
}

@font-face {
	font-family: ProximaNova;
	src: url('/static/assets/fonts/ProximaNova-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: ProximaNova;
	src: url('/static/assets/fonts/ProximaNova-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: ProximaNova;
	src: url('/static/assets/fonts/ProximaNova-RegularItalic.otf');
	font-weight: 700;
}