/*
	Colors
*/

$white: #FFFFFF;
$textWhite: #FFFFFF;
$bannerOverlayColor: rgba(92, 171, 195, 0.85);
$borderGrey: #E3E3E3;
$formPlaceholder: #A9A8A8;
$formLabel: #4E4E4E;
$textGrey: #4E4E4E;
$textBlack: #000000;
$titleShellGreen: #205F72;
$oceanTurtleBlue: #5CABC3;
$itineraryFormContainerWidth: 320px;
$itineraryFormOffsetY: 50px;