/*
	Colors
*/

$white: #FFFFFF;
$textWhite: #FFFFFF;
$bannerOverlayColor: rgba(92, 171, 195, 0.85);
$formItemBorder: #E3E3E3;
$formPlaceholder: #A9A8A8;
$formLabel: #4E4E4E;
$itineraryFormTitleColor: #205F72;
$itineraryFormContainerWidth: 340px;