$pageBodyMarginRight: 30px;

#page-wrapper {
	padding-left: 50px;
	padding-right: 50px;

	#page-body {
		width: calc(100% - #{$itineraryFormContainerWidth} - #{$pageBodyMarginRight});
		margin-right: $pageBodyMarginRight;
		float: left;
	}
}	
#page-wrapper {
	#page-sidebar {
		max-width: $itineraryFormContainerWidth;
		float: left;
		position: relative;
		bottom: $itineraryFormOffsetY;
	}
}


@include mq($until: large) {
	#page-wrapper {
		#page-body {
			width: calc(100%);
			float: none;
		}
	}
}


@include mq($until: large) {
	#page-wrapper {
		#page-sidebar {
			margin: 0 auto;
			bottom: auto;
			float: none;
		}
	}
} 